.vscode/

.config/.gsd-keyboard.settings-ported
.config/GNOME-xdg-terminals.list
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.config/zoom.conf
.config/zoomus.conf

.config/autostart/
.config/BetterDiscord/
.config/BetterDiscord Installer/
.config/btop/
.config/chromium/
.config/Code/
.config/copyq/
.config/dconf/
.config/discord/
.config/Discord/
.config/Electron/
.config/enchant/
.config/evolution/
.config/fontconfig/
.config/gh/
.config/glib-2.0
.config/glow/
.config/gnome-session/
.config/go/
.config/goa-1.0
.config/google-chrome
.config/gtk-*/
.config/htop/
.config/ibus/
.config/Insomnia/
.config/lazygit/
.config/makemehapi/
.config/menus/
.config/nautilus/
.config/Nextcloud/
.config/pulse/
.config/ranger/
.config/spotify/
.config/StardewValley/
.config/Synology/
.config/Thunar/
.config/totem/
.config/unity3d/
.config/Unknown Organization/
.config/Vencord/
.config/vlc/
.config/workshopper/
.config/xfce4/